*{
    padding: 0;
    left: 0;
    box-sizing: border-box;
}

.Auth-container{
    width: 100%;
 height: 100vh;
    background-image: url(assets/images/bg1.png);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.bgHome{
    background-image: url(./assets/images/home-bg.png);
    background-size: 100% 100%;
    height: 250px;
}
.chart{
    height: 250px;
}
.borderLeft{
    border-left: 5px solid   rgba(239, 155, 40, 1) ;
}
.border1{
    border-bottom: 3px solid   rgba(239, 155, 40, 1) ;
    width: 75px;
}
.one{
    background-color:rgb(226, 228, 231);
}
.two{
    background-color: rgb(173, 208, 201);
}

.one1{
    background-color: rgb(204, 207, 238);
    color: #0088FE;
}
.one2{
    background-color:rgb(219, 219, 153);
    color: #956c14;
}
.one3{
    background-color:rgb(230, 197, 213);
  
    color:#b72e89;
}
.bgicons1{
    color: #0088FE;
}
.bgicons2{
    color:#b72e89;
}
.bgicons3{
    color: #956c14;
}
.bord{
    border-top:solid 3px rgba(245, 245, 245, 1);
}
.text1{
    color: rgba(239, 155, 40, 1);
}
.bgOutlet{
    background-color: rgb(245, 245, 245);
}

.caption{
    width: 50%;
    border-radius: 20px;
    padding:20px 0;
    background-color: rgba(49, 89, 81, 0.9);
    color: orange;
}

.imageLogo{
    width: 200px;
    margin: auto;
    /* margin-top: 125px; */
}

.form h2{
    font-weight: 700;
    position: relative;
}

.form h2::after{
    content: "";
    width: 17px;
    height: 3.5px;
    background-color: orange;
    position: absolute;
    bottom: 0;
    left: 0;
}

.Auth-container .inputs{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    width: 100%;
    outline: none;
    color: white;
}

.Auth-container .inputs::placeholder{
    color: rgb(159, 159, 159);
}


.rigester a{
    color: orange;
    text-decoration: none;
}

.form button{
    background-color: orange;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    width: 95% ;
    margin: auto;
    padding: 6px;
    border: none;
}

.form button:hover{
    background-color: orange;
    color: white;
}

  /* //**************** to filter tasks by projects   *************/
  .bord{
    border: #ef9b28 2px solid;
  }


/* **************** style for sidbar *************** */
.hov{
    background-color: rgba(242, 147, 15, 0.3);
    max-width: 130px;
    margin: auto;
    border-radius: 10px;
    color: orange;
}
.hov_collapsed:hover{
    width: 50px !important;

}
.ps-menu-root.css-vj11vy{
    position: fixed;
    top: 57.12px;
}

.sideBar-container .ps-sidebar-container{
    background-color: #0E382F;
    color: white;
    height: 1100px;
    position: relative;
  
}
.ps-menuitem-root.icons.iconHover.mx-3.css-1t8x7v1{
    width:145px ;
}

.sideBar-container .ps-sidebar-root{
    width: 11rem;
    min-width: 10rem;
    border: none;
    
}


.sideBar-container .ps-sidebar-container .ps-menu-button .ps-menu-label{
    font-size: 11px;
}


.sideBar-container .ps-sidebar-container img{
    width: 140px;
    margin-left: 140px;
} 

.sideBar-container .ps-sidebar-container .ps-menu-button:hover{
    background-color: transparent;
}

.sideBar-container .ps-sidebar-container .iconHover:hover{
    background-color: rgba(242, 147, 15, 0.3) ;
    width: 145px;
    margin: auto;
    border-radius: 10px;
    color: orange;
}

.sideBar-container .ps-sidebar-container .togel:hover{
    background-color: transparent ;
    color: white;
}

.sideBar-container .ps-sidebar-container .icon-tolgle-right{
    background-color: orange;
    padding: 10px 5px;
    font-size: 15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position:fixed !important;
    width: 20px;
    bottom: 3;
    left: 80px  ;
    cursor: pointer;
 
    
   
}


.sideBar-container .ps-sidebar-container .icon-tolgle-left{
   

    position: absolute;
    top: 3;
    left:154px;
    padding: 10px;
    background: #ef9b28;
    cursor: pointer;
    width: 22px;
    border-top-left-radius: 5px ;
    border-bottom-left-radius: 5px ;
}

/* **************** style for navbar *************** */
.navbarCaption{
    border-bottom: 2px solid rgb(235, 235, 235);
}

.navbarImg{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.navEmail{
    font-size: 13px;
}

.navlogo{
    width: 130px;
    height: 40px;
}

/* **************** style for project *************** */

.shredBtn{
    color: white;
    background-color: orange;
    border-radius: 20px;
    padding: 8px 30px;
    transition: all 0.4s;
    border: none;
}

.shredBtn:hover{
    color: white;
    background-color: #466a62;
}

.theadTable{
    background-color: red;
}

.navigate{
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.theadTable , .status{
    background-color:#0e382f !important;
    color: white !important;
}

.status span{
    font-size: 13px;
}

.actionBtn{
    border: none;
    background-color: transparent;
}

.loading i {
    font-size: 60px;
    padding: 100px 0;
}

.block , .unBlockBtn{
    font-size: 12px;
    padding: 1px 5px;
    color: white;
    border: none;
    border-radius: 7px;
    width: 60px;
   
}

.texttr{
    color:#e5740f!important;
}

/* **************** style for tasks *************** */



.shareColor{
    background-color: #b72e89;
}
.employeeTasksContainer .row {
    height: 500px;
    overflow-y: auto;
}
.tasksContainer{
   
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    min-height: 380px;
    
}
.tasksContainer1{
    background-color: #315951E5;
}
.tasksDone{
    background-color:#956c14;
}




/* **************** medai query to navbar ***************** */

@media screen and (max-width:850px) {

    .navbarCaption{
        width: 90%;
    }
}

@media screen and (max-width:750px) {

    .navbarCaption{
        width: 80%;
    }

    .navCaption span{
        font-size: 12px;
    }
}

@media screen and (max-width:450px) {

    .navbarCaption{
        justify-content: space-between;
    }

    .navbarCaption .navbarImg{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .navCaption .navEmail{
        font-size: 8px;
    }
}
.iconColor1{
    color: #0088FE;
}
.iconColor2{
    color: #0088FE;
}
.iconColor3{
    color: #0088FE;}
/* ********************pagination***************** */
.point{
cursor: pointer;
}